
{% load static %}
{% static "medians" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>

    <link href="{% static 'image/logo.png' %}" rel="icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

    

</head>
<body onload="slider()">
    <div class="bg">
        <div id="preloader">
            <div class="fa fa-spinner fa-3x fa-spin" id="preloader-icon"></div>
        </div>

        <!-- <nav class="navbar navbar-fixed-top nav"> -->
        <nav>
            <!-- <input type="checkbox" id="menu-bar"> -->
            <label for="" class="bar-icons">
                <i class="fa fa-navicon" id="bars" width="50px" onclick="bars()"></i>
                <i class="fa fa-remove" id="cancel" width="50px" onclick="cancel()"></i>
            </label>

            <div class="navbar-brand logo col-sm-4">
                <a href="{% url 'dashboard' %}">
                    <div class="logoimg">
                        <img src="{% static 'image/logo.png' %}">
                        <span>standard bank</span>
                    </div>
                </a>
            </div>
            <div id="google_translate_element" style="position:relative;left:180px;top:20px"></div>

            <div class="board-nav" id="board_nav">
                <ul>
                    <li class="nav-active fa fa-pie-chart"><a href="{% url 'dashboard' %}">dashboard</a></li>
                    <li class="fa fa-user-o"><a href="{% url 'profile' %}">my profile</a></li>
                    <li class="fa fa-share-square-o"><a href="{% url 'reset_password' %}">change password</a></li>

                    <li class="fa fa-file-text-o"><a href="{% url 'all' %}">my statement</a></li>
                    <li class="fa fa-file-text-o"><a href="{% url 'all' %}">domestic transfer</a></li>
                    <li class="fa fa-angle-double-right"><a href="{% url 'all' %}">inter bank transfer</a></li>
                    <li class="fa fa-angle-double-right"><a href="{% url 'all' %}">wired transfer</a></li>

                    <li class="fa fa-briefcase"><a href="{% url 'loan' %}">apply for loan</a></li>
                    <li class="fa fa-envelope-o"><a href="{% url 'message' %}">messages</a></li>
                    <li class="fa fa-power-off"><a href="{% url 'user_logout' %}">log out</a></li>
                </ul>
            </div>

        </nav>

        <div class="board">
            <div class="banner2-content" id="banner2-content">
                <div style="margin-top: 70px;" class="welcome">
                    <h3>hi, 
                        <b>{{request.user}}</b> <br>
                        <p>banking like never before.</p>
                    
                    </h3>

                    <br>

                    {% for message in messages %}
                    <div class="caption alert alert-success">
                        <p id="messages"> {{message}} </p>
                    </div>
                    {% endfor %}

                </div>

                <div class="contact">
                    {% if user.image %}
                    <img src="{{user.image.url}}" alt="">
                    {% else %}
                    <img src="{% static 'image/user.png' %}" style="color:green; font-size:10rem; color: white;">
                    {% endif %}
                    <div class="help">
                        <label class="dils">balance:</label><br>
                        <label class="dil"><b>USD $</b> {{user.balance}}</label>
                    </div>

                    <div class="help">
                        <label class="dils">hits:</label><br>
                        <label class="dil">
                            <p>change your interment banking password frequently to keep your account safe</p>
                        </label>
                    </div>

                    <div class="help">
                        <label class="dils">account number:</label><br>
                        <label class="dil">{{user.account_number}}</label>
                    </div>

                    <div class="help">
                        <label class="dils">account holder:</label><br>
                        <label class="dil">{{user.name}}</label>
                    </div>

                    <div class="help">
                        <label class="dils">account type:</label><br>
                        <label class="dil">savings</label>
                    </div>

                    <div class="help">
                        <label class="dils">account status:</label><br>
                        <label class="dil">ON HOLD</label>
                    </div>

                </div>
                
            </div>

            <div class="banner2-content" id="banner2-content">

                <div class="contact">

                    <div class="help">
                        <label class="dils">your financial statement review:</label><br>
                        <hr>
                        <label class="dils">your financial statement:</label><br>
                        <hr>
                        
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>type</th>
                                    <th>amount</th>
                                    <th>to/from</th>
                                    <th>description</th>
                                    <th>date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payment %}
                                <tr>
                                    <td>{{payment.type}}</td>
                                    <td>{{payment.amount}}</td>
                                    <td>{{payment.to}}</td>
                                    <td>{{payment.message}}</td>
                                    <td>{{payment.sent_time}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
                
            </div>

        </div>

    </div>

    <script src="{% static 'css/js.js' %}"></script>
</body>
</html>