
{% load static %}
{% static "medians" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>

    <link href="{% static 'image/logo.png'%}" rel="icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css'%}">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css'%}">

    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>

</head>
<body onload="slider()">
    <div class="bg" style="height:100vh">
        <div id="preloader">
            <div class="fa fa-spinner fa-3x fa-spin" id="preloader-icon"></div>
        </div>

        <!-- <nav class="navbar navbar-fixed-top nav"> -->
        <nav>
            <!-- <input type="checkbox" id="menu-bar"> -->
            <label for="" class="bar-icons">
                <i class="fa fa-navicon" id="bars" width="50px" onclick="bars()"></i>
                <i class="fa fa-remove" id="cancel" width="50px" onclick="cancel()"></i>
            </label>

            <div class="navbar-brand logo col-sm-4">
                <a href="{% url 'admin_panel' %}">
                    <div class="logoimg">
                        <img src="{% static 'image/logo.png' %}">
                        <span>standard bank</span>
                    </div>
                </a>
            </div>

            <div class="board-nav" id="board_nav">
                <ul>
                    <li class="fa fa-pie-chart"><a href="{% url 'admin_panel' %}">admin panel</a></li>
                    <li class="fa fa-power-off"><a href="{% url 'user_login' %}">log out</a></li>
                </ul>
            </div>
        </nav>

        <div class="board">

            <div class="banner2-content" id="banner2-content">
                <div class="banner2-contents">

                    <div style="margin-top: 70px;" class="welcome">
                        <h3>user,
                            <p>banking like never before.</p>
                        </h3>
                        <br>
                    </div>

                    <div class="contact">
                        <div class="help">
                            <label class="dils">name: </label> {{user.name.username}}<br>
                            <label class="dils">email: </label> {{user.name.email}}<br>
                            <label class="dils">account number: </label> {{user.account_number}}<br>
                            <label class="dils">balance: </label> $ {{user.balance}}.00<br>
                            <label class="dils">address: </label> {{user.address}}<br>
                            <label class="dils">status: </label> {{user.status}}<br>
                            <label class="dils">gender: </label> {{user.gender}}<br>
                            <label class="dils">date of birth: </label> {{user.date_of_birth}}<br>
                            <label class="dils">date joined: </label> {{user.date_joined}}<br>

                            <form method="post">
                                {% csrf_token %}
                                <div style="display:flex;justify-content:space-between;margin:5px">

                                    <input type="submit" value="confirm" class="btn btn-danger dropdown-toggle" style="width:20%">
                                    <a href="{% url 'admin_panel' %}" class="btn btn-primary dropdown-toggle" style="width:20%">cancel</a>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="{% static 'css/js.js' %}"></script>
</body>
</html>

