
{% load static %}
{% static "medians" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change password</title>

    <link href="{% static 'image/logo.png' %}" rel="icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>

</head>
<body onload="slider()">
    <div class="bg">
        <div id="preloader">
            <div class="fa fa-spinner fa-3x fa-spin" id="preloader-icon"></div>
        </div>

        <!-- <nav class="navbar navbar-fixed-top nav"> -->
        <nav>
            <!-- <input type="checkbox" id="menu-bar"> -->
            <label for="" class="bar-icons">
                <i class="fa fa-navicon" id="bars" width="50px" onclick="bars()"></i>
                <i class="fa fa-remove" id="cancel" width="50px" onclick="cancel()"></i>
            </label>

            <div class="navbar-brand logo col-sm-4">
                <a href="{% url 'reset_password' %}">
                    <div class="logoimg">
                        <img src="{% static 'image/logo.png' %}">
                        <span>standard bank</span>
                    </div>
                </a>
            </div>
            <div id="google_translate_element" style="position:relative;left:180px;top:20px"></div>

        </nav>

        <div class="board">
            <div class="banner2-content" id="banner2-content">
                <div style="margin-top: 70px;" class="welcome">
                    <h3>
                        <p>banking like never before.</p>
                    </h3>
                    <br>

                </div>

                <div class="contact">
                    <h3 class="dil">set password</h3>


                    <div class="alert alert-success">
                        <h3>Password reset sent</h3>
                        <p>we've emailed you instruction for setting your password, if an
                            account exists with the email you entered. you should receive the
                        shortly.</p>
                        <p>if you don't receive an email, please make sure
                        you've entered the address you registered with, and check your span
                        folder.</p>
                    </div>

                    <h3><b>our online banking</b></h3>
                    <h3>more than just a bank</h3
                </div>

            </div>
        </div>

    </div>

    <script src="{% static 'css/js.js' %}"></script>
</body>
</html>